*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif !important;
}

/* menu */
nav{
    width: 100%;
    height: 100px;
    line-height: 50px;
    background-color: rgb(255, 255, 255);
}
ul li{
    text-decoration: none;
    list-style-type: none;
}

label.hidelabel, #check, ul.menu-movel{
    display:none;
}
ul.menu-desktop{
    list-style-type: none;
    width:100%;
    display:flex;
    justify-content: center;
}
ul.menu-desktop li{
    padding: 0px!important;
    cursor: pointer;
    text-align: center; 
    width: 8%;
}
ul.menu-desktop li a{
    font-weight: 300!important;
    padding: 0px!important;
    color: #343a40!important;
    text-decoration: none;
}
ul.menu-desktop li:hover{
    padding: 0px!important;
}


label{
    font-size: 30px;
    padding-left:10px;
    color:grey;
}
ul.menu-movel{
    width: 100%;
    background-color: steelblue;
    margin-top: -250px;
    transition: 0.5s;
}
ul.menu-movel li{
    width:100% ;
    height: auto;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

ul.menu-movel li a{
    color:#fff;
    text-decoration: none;
}

#check:checked ~ ul.menu-movel{
    margin-top: 0;
    transition: 0.5s;
}

.logo_banner{
    z-index: 2;width: 800px;margin-left:40px;margin-top: -350px;
}
/*fim  menu */
/* conteudo */
/* diagramação linha cont e afim */
.gestao-espacamento{
    z-index: -2;margin-top: -180px;
}

.back_image{
   
}

.cont1 {
    width: auto;
    margin: 0 auto;
    display: flex;
}
.cont1_b {
    width: auto;
    margin: 0 auto;
    display: flex;
}
.item {
    margin: 5px;
    padding: 5px 5px;

    text-align: center;
    font-size: 1.5em;
}
.item_b {
    padding: 5px 5px;
    /* border: 1px solid; */
    text-align: center;
}
.center {
    justify-content: center;
}
.flex-start {
	align-items: flex-start;
}
.align_center {
	align-items: center;
}
.form-control{
    border: 0px solid #fff;
}
/* diagramação linha cont e afim */
/* diagramação linha article e afim */
.space-around {
	justify-content: space-around;
}
.artigos_banner_miolo{
    width: 100%;
    display:flex;
    justify-content:center ;
    flex-wrap: wrap;
    transition: 0.5s;
}

.artigos{
    width: 80%;
    display:flex;
    justify-content:center ;
    margin: ;
    flex-wrap: wrap;
    transition: 0.5s;
}
.artigos>article{
    flex:1;
}
article:hover{
    /* opacity: 0.5;
    transition: 0.5s; */
    /* border-bottom:10px solid rgb(66, 126, 59,2); */
    /* transform:scale(1.1); */
}
article{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
}
article.estilo_article{
    padding:20px 40px!important ;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 23.6%;
    height: auto;
    margin-bottom: 3px;
}
@media(min-width:1199px) and (max-width:1900px){
    header nav label{
        visibility: hidden;
    }
}
@media(min-width:992px) and (max-width:1199px){
    
    header nav label.margin_label{
        margin-top: -110px;
    }
    
   

}

@media(min-width:768px) and (max-width:992px){
    header nav label.margin_label{
        margin-top: -110px;
    }
    nav{
        height: 100px;
    }
    ul.menu-desktop{
        display: none;
    }
    ul.men-desktop{
        display: none;
    }
    label, ul.menu-movel{
        display: block;
    }
  
    /* fim header */
    .artigos{
        margin-bottom: 100px;
    }
}



@media only screen and (max-width:800px){
    ul.menu-desktop{
        display: none;
    }
    label, ul.menu-movel{
        display: block;
    }
}


@media only screen and (max-width:768px){
  
    .cont1{
        width: 100%;
    }
    ul.menu-desktop{
        display: none;
    }
    label, ul.menu-movel{
        display: block;
    }
    article{
        width: 49%;
    }
}


@media(min-width:500px) and (max-width:768px){
    nav{
        height: 100px;
    }

    header nav label.margin_label{
        margin-top: -110px;
    }
    div.nav-wrapper{
        z-index: 2;
    }
    .cont1{
        width: 100%;
    }
}

/*celular*/
@media only screen and (max-width:500px){
    .cont1{
        width: 100%;
    }
    ul.menu-desktop{
        display: none;
    }
    label, ul.menu-movel{
        display: block;
    }
    .artigos{
        flex-direction: column;
    }
    article{
        width: 55%;
    }
   
}



@media(min-width:320px) and (max-width:576px){
    nav{
        height: 100px;
    }

    header nav label.margin_label{
        margin-top: -110px;
    }
    article.item_nav1 img{
        margin-left: 80px;
    }

    
    .cont1{
        width: 100%;
    }
    ul.menu-desktop{
        display: none;
    }
    label, ul.menu-movel{
        visibility: visible;
        display: block;
    }
 
    .artigos{
        padding-top: 40px;
        padding-left:80px ;
        flex-direction: column;
    }
    article{
        width: 100%;
    }

    article{
        width: 71%;
    }

   
}